<br>
<div class="container text-center">
  <h1>Welcome <span class="member-name"></span></h1>
</div>
{{!-- grading table --}}
<div class="container-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Grade</th>
        <th scope="col">Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>100-90</td>
      </tr>
      <tr>
        <td>B</td>
        <td>89-80</td>
      </tr>
      <tr>
        <td>C</td>
        <td>79-70</td>
      </tr>
      <tr>
        <td>D</td>
        <td>69-60</td>
      </tr>
      <tr>
        <td>F</td>
        <td>59-0</td>
      </tr>
    </tbody>
  </table>
</div>
{{!-- body --}}
<div class="container grading-page">
  <div class="row">
    <!-- Ready to be graded-->
    <div class="col-sm-6">
      <h3 class="text-center">Assignments Todo</h3>
      <ul>
        {{#each task}} {{#unless dataValues.completed}}
        <div class="row">

          <div class="col-sm-6 text-center completedTask">
            <p>{{dataValues.taskDetail}}</p>
            {{!-- student Name --}}
          </div>
          <div class="col-sm-6">
            <button type="submit" data-id="{{dataValues.id}}" class="btn btn-dark markComplete">
              Mark Completed
            </button>
          </div>
        </div>
        <hr />
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-6">
      <h3 class="text-center">Graded Assignments</h3>
      <div class="row assignment">
        <div class="col-sm-6 text-center">
          <h4>Assignment</h4>
          </div>
          <div class="col-sm-6 text-center">
            <h4>Grade</h4>
          
        </div>
      </div>
      <ul>

        {{#each task}} {{#if dataValues.graded}}
        <div class="row">
          <div class="col-sm-6 text-center gradedTask">

            <p>{{dataValues.taskDetail}} </p>
          </div>
          <div class="col-sm-6 text-center">

            <p>{{dataValues.taskGrade}}</p>
          </div>
        </div>
        <hr />
        {{/if}} {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="row new-task">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">


  </div>
</div>
<script src="/js/child.js"></script>