body {
  background-color:  #99CCFF;
}
h1 {
  font-family: 'Indie Flower', cursive;
  color:  #000066;
}
.form-group {
  color:  #000066;
  font-family: 'Itim', cursive;
}
/* ================ Navbar ======================== */
.navbar {
  background-color: #000066;
  padding: 40px;
}

.navbar-text {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: #99CCFF;
}

.nav-link {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  float: right;
}
/* ==================================================== */

/* =============== Forms ========================= */
.login-form, .signup-form {
  margin-top: 100px;
  font-family: 'Itim', cursive;
}
.btn {
  background-color:  #000066;
}

.dropdown-item{
  cursor: pointer;
}

form.signup,
form.login {
  margin-top: 40px;
}

.container-2 {
  float: left;
  padding-left: 30px;
  font-family: 'Itim', cursive;
  margin-top: 40px;
}
.grading-page, .new-task {
  margin-top: 40px;
  font-family: 'Itim', cursive;
}
.grade-percent {
  border: 2px solid black;
}
